<aside class="col-lg-4">
  <!-- Widget [Search Bar Widget]-->
  <div class="widget search">
    <header>
      <h3 class="h6"><%= t('menu.search') %></h3>
    </header>
    <%= form_tag results_path, method: :get, role: 'search', class: "search-form" do %>
      <div class="form-group">
        <%= text_field_tag :query, params[:query] %>
        <button type="submit" class="submit"><i class="icon-search"></i></button>
      </div>
    <% end %>
  </div>
  <!-- Widget [Latest Posts Widget]        -->
  <%= render partial: "shared/latest_posts_block" %>
</aside>