<% breadcrumb :results %>
<% provide(:title, "Results of search") %>
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div class="row">
          <h3>Results of search by query <em><%= params[:query]%></em></h3>        
         <!-- post -->
          <% @search_results.each do |pg_search_document| %>
          <div class="post col-xl-12">
            <div class="post-details">            
            <%= link_to pg_search_document.searchable.title, pg_search_document.searchable %>
            </div>
          </div> 
          <hr>
            <% end %>
        </div>
      </div>
    </main>
    <%= render partial: "shared/sidebar" %>
  </div>
</div>
