<!-- #####Begin contents-->
<section id="contents">
  <!-- #####Begin page head-->
  <div class="page-head lined" data-img-src="../assets/img/backgrounds/bg-dark-01.jpg">
    <div class="container">
      <div class="tb-vcenter-wrapper">
        <div class="title-wrapper vcenter">
          <h1 class="title">News &amp; Blog</h1>
        </div>
        <div class="breadcrumb-wrapper vcenter">
          <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <li>learning environment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- #####End page head
  --> 
