<% breadcrumb :contact %>
<% provide(:title, "Contact") %>
<section class="contact_page_2 pb-100 pt-100 pb-xs-80 pt-xs-80">
  <div class="container">
    <div class="row">
      <h1>Thank you for your message.</h1>
      </br>
      <p>We'll get back to you soon.</p>
    </div>
  </div>
</section>
